
/* -------global------ */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body
{
    background-color:#0f1724;
    
}
ul{
    list-style: none;
}


html

{
    font-size: 62.5%;
}




.container
{
    max-width: 1200px;
    width: 90%;
     margin: 0 auto;
    
  
}

:root
{
    --first-color-darkblue: #0f1724;
    --second-color-green: #37b24d;
    --second-color-hover: #2b8a3e;
    --third-color-lightgray: lightgray;
    --Forth-color-white-white: white;
    --fivth-color-black: black;
    --sixth-color-almost-black:#13293b;

    /* ----p--- */
    --first-font-10rem: 10rem;
    --second-font-5rem: 5rem;
    --third-font-2rem: 2rem;
    ---forth-font-1-5rem: 1.5rem;
    --fith-font-1rem: 1rem;
}


/* ---------global end------ */
/* ---Header---- */
header
{
    padding: 2rem;
    margin-bottom: 5rem;

    
}

.image-top
{
 width: 3rem;
 margin: 1rem;
}

.hearder-rap
{
    display: flex;
    gap: 1rem;
    align-items: center;
}



.ELETRICITY-BILL
{
    font-size: 3rem;
    color: var(--Forth-color-white-white);
    display: inline;
    font-weight: 600;
}

/* ----header end----- */

/* ---feature esction--- */
.image-icon
{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.logos
{
    display: flex;
    gap: 3rem;
}

.logos-direction
{
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
}

.network-rap
{
    display: flex;
   flex-direction: column;
   gap: 0.4rem;
}


.network-rap-last
{
     display: flex;
   flex-direction: column;
   gap: 0.4rem;
   order: 1; 
   margin-bottom: 1rem;
}

.form-rap
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid var(--Forth-color-white-white);
    border-radius: 2rem;
    padding: 3rem;
    width: 50rem;

}
label
{
    font-size: var(---forth-font-1-5rem);
    font-weight: 600;
    color: var(--Forth-color-white-white);
}

input,select
{
    border-radius: 1.5rem;
    background-color: var(--first-color-darkblue);
    color: var(--Forth-color-white-white);
    border: 1px solid var(--second-color-hover);
    height: 5rem;
    padding-left: 1rem;
}



.form-direction
{
    display: flex;
    justify-content: center;
}

button
{
    width: 10rem;
    height: auto;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--Forth-color-white-white);
    border: 0;
   border-radius: 10px;
 background: linear-gradient(to right, blue,green);
order: 2;

    }

    button:link,button:visited
    {
        color: var(--Forth-color-white-white);
        background-color: var(--second-color-green);
    }

    button:hover,button:active
    {
        color: var(--Forth-color-white-white);
        background-color: var(--second-color-hover);
        transform: scale(1.05,1.05);
    }
/* --feature section end-- */























/* -----Responive------- */


/* Tablet  width 1000px */
@media(max-width: 62.5rem){
/* 1000px / 16px = 62.5rem */
/* 62.5rem x 16px = 100px */
    html
    {
font-size: 56%;
/* 9px / 16px = 50% */
    }
}

/* phones width 800px-1000px */

@media(max-width: 50rem ){
/* 800px / 16px = 50rem */
/* 50rem x 16 = 800px */
    html 
    {
font-size: 50% ;
/* 8px / 16 =  50% */
    }

.form-rap
{
    border: none;
}


 
.ELETRICITY-BILL
{
   align-content: center; 
}


} 



/* ---width 600-800 */
@media(max-width: 37.5rem){
/* 600px / 16px = 37.5rem */
/* 37.5rem x 16px = 600px */
    html
    {
font-size: 43.75%;
/* 7px / 16px = 43.75% */
    }
}


/* ---width 600-800 */
@media(max-width: 25rem){
/* 400px / 16px = 25rem */
/* 37.5rem x 16px = 600px */
    html
    {
font-size: 43.75%;
/* 7px / 16px = 43.75% */
    }
    .logos-direction
    {
        display: none;
    }
}


/* --------Responsive end----- */