
/* -------global------ */

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body
{
    background-color:#0f1724;
    
}
ul{
    list-style: none;
}


html

{
    font-size: 62.5%;
}




.container
{
    max-width: 1200px;
    width: 90%;
     margin: 0 auto;
    
  
}

:root
{
    --first-color-darkblue: #0f1724;
    --second-color-green: #37b24d;
    --second-color-hover: #2b8a3e;
    --third-color-lightgray: lightgray;
    --Forth-color-white-white: white;
    --fivth-color-black: black;
    --sixth-color-almost-black:#13293b;

    /* ----p--- */
    --first-font-10rem: 10rem;
    --second-font-5rem: 5rem;
    --third-font-2rem: 2rem;
    ---forth-font-1-5rem: 1.5rem;
    --fith-font-1rem: 1rem;
}


/* ---------global end------ */
/* ---Header---- */
header
{
    padding: 2rem;
    margin-bottom: 1rem;

    
}

.image-top
{
 width: 3rem;
 margin: 1rem;
 
}

.image-sings-rap{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

.hearder-rap
{
    display: flex;
    gap: 1rem;
    align-items: center;
}



.CASH
{
    font-size: 3rem;
    color: var(--Forth-color-white-white);
    display: inline;
    font-weight: 600;
}

.Balance
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
    
}
.Balance span{
  color: var(--Forth-color-white-white);  
}
a
{
    text-decoration: none;
}
span
{
    display: inline;
    color: var(--Forth-color-white-white);
    font-size: 3rem;
}

.amount
{
    font-size: 2.5rem;
    display: flex;
 /* padding-left: 2rem;
 margin-left: -2rem; */
 
}

.widthdraw-rap
{
    width: 100%;
    height: auto;
 background: linear-gradient(to right, green ,#0b550b);
   border-radius: 4rem ;
  border-radius: 2rem;
    display: flex;
   justify-content: space-between;
   padding: 2rem;
}

.withdraw
{
    background-color: var(--second-color-green);
    border-radius: 1rem;
padding: 1rem;
color: var(--Forth-color-white-white);
font-size: 2rem;
border: 0;


}

.withdraw:hover
{
  transform: scale(1.01,1.01);
background-color: var(--second-color-hover);
}

.withdraw-rap
{
    justify-content: flex-end;
   align-self: flex-end;
   align-items: center;
   
  
}
.withdra-direction
{
    display: flex;
    justify-content: flex-end;
     margin-bottom: 10rem;
     width: 100%;
}

.amountbalance-rap{
    display: flex;
    align-items: center;
   
    
    
}

.naira{
    font-size: 2.5rem;
    
    
}
/* ----header end----- */

/* ---feature esction--- */
.image-icon
{
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  
}


.logos
{
    display: flex;
    /* gap: 3rem; */
    width: 100%;
    justify-content: space-evenly;
}

.logos-direction
{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 5rem;
    animation: move 2s infinite alternate;
    position: relative;
      z-index: -1;

}

@keyframes move{
from{
 left : 20rem;
}
to 
{
    right: 10rem;
}
}

.network-rap
{
    display: flex;
   flex-direction: column;
   gap:0.4rem;
   width: 100%;
}


.network-rap-last
{width: 100%;
     display: flex;
   flex-direction: column;
  gap: 0.4rem;
 
   /* margin-bottom: 1rem; */
}


.pin{
    margin-top: -1rem;
}
.form-rap
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 2px solid var(--Forth-color-white-white);
    border-radius: 2rem;
    padding: 3rem;
    width: 100%;
    

}
label
{
    font-size: var(---forth-font-1-5rem);
    font-weight: 600;
    color: var(--Forth-color-white-white);
}

input,select
{
   
    background-color: var(--first-color-darkblue);
    color: var(--Forth-color-white-white);
    border: 1px solid var(--first-color-darkblue);
    height: 5rem;
   padding-left: 1rem;
    width: 100%;
  
   
}


.select-network{
 border: 2px solid var(--sixth-color-almost-black);
 border-radius: 1.5rem;
 width: 100%;
padding-right: 1rem;
}

.input-withdrawal{
    width: 30rem;
  
    /* background-color: #0b550b; */

}

.bank{
    margin-top: 0.5rem;
}

input,select:active{
   outline: none;
}

.input-propery{
    display: flex;
    width: 100%;
    align-items: center;
   border-radius: 1.5rem;
 border: 2px solid var(--sixth-color-almost-black);
 padding-right: 0.5rem;
 margin-bottom: 1rem;
}


.convert-icons{
    width: 2rem;
}

.form-direction
{
    display: flex;
    justify-content: center;
}

.cash-btn button
{
    width: 100%;
    height: auto;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--Forth-color-white-white);
    border: 0;
   border-radius: 10px;
background-color: var(--second-color-green);
margin-bottom: 2rem;

    }

    button:link,button:visited
    {
        color: var(--Forth-color-white-white);
        background-color: var(--second-color-green);
    }

    button:hover,button:active
    {
        color: var(--Forth-color-white-white);
        background-color: var(--second-color-hover);
        transform: scale(1.01,1.01);
    }



.receiving
{
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    /* gap: 0.5rem; */
   margin: 0.2rem 0rem 0.2rem;
   width: 100%;
   background-color: var(--sixth-color-almost-black);
padding: 1rem ;
border-radius: 2rem;
height: 10rem;
    
}

.receiving-rap{
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 1rem;
  
}
.you-receive{
display: flex;
/* align-self: flex-start; */
font-size: 2rem;

}

 .recive-amount{
    color: var(--Forth-color-white-white);
    font-size: 3rem;
 }

 /* .receiving span{
    font-size: var(---forth-font-1-5rem);
 } */
/* --feature section end-- */

/* withdrawal */

.input-rap
{
width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    gap: 0.5rem;
    
}

.amount-exceed
{
   background-color: black; 
  width: 20rem;
  padding: 1rem;
  border-radius: 4rem;
  display: flex;
justify-content: center;
   z-index: 1;

}
.amount-exceed span{
    color: red;
    font-size:var(---forth-font-1-5rem);
    display: flex;
    gap: 0.5rem;
 
}



.amount-exceed span p{
    color: red;

}

.amountpass,.succefful-withdraw-rap
{
    display: none;
    position:fixed;
top: 3%;
left: 50%;
transform: translate(-50%);
 
}

.local-bank{
    display: none;

}


.input-warning{
    position: relative;
   
}
.label-rap
{
display: flex;
flex-direction: column;
position: relative;

}
.label-rap span{
color: var(--Forth-color-white-white);
}

/* .label-rap label, span{
    margin-left: 1rem;
} */

.densub-bnt,.local-bnt
{
    display: none;
    margin-top: 1rem;
    width: 25rem;
  background-color: var(--second-color-green);
    padding: 0.5rem ;
    color: var(--Forth-color-white-white);
    border: 0;
    border-radius: 2rem;
    height: 4rem;
  
}


/* .label-rap input
{
width: 20rem;
height: 4rem;
border: 0;
} */

.minimum
{
    display: none;
    margin-left: 1rem;
    color: red;
    position:relative;
    font-size: 1.2rem;
}

.den
{
position: fixed;
top: 37.5%;
}




.allwithdrawbackground,.densub{
    background-color: #13293b;
    padding: 2rem 1rem;
}

.densub
{
   
    position: fixed;
    top: 5%;
    left: 40%;

    z-index: -1;
}


.densub-bakblur
{ display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    /* z-index: 1; */
}


.densub-rap
{
     display: flex;
    align-items: center;
    justify-content: center;
height: auto;
    /* width: 100%; */
   flex-direction: column;
   gap: 0.5rem;
   padding: 1rem;
  
}

.densub-rap span{
    font-size: var(---forth-font-1-5rem);
}

.close
{
    width: 30rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -2rem;
}
.close img{
    width: 4rem;
}
.close span{
    font-size: var(--third-font-2rem);
    font-weight: 600;
}
/* .withdrawal
{
    min-width:5rem;
position: fixed;
top: 10%;
left: 30%;
    background-color: #13293b;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 1rem 0rem;
} */
/* withdrawal end */





/* cash withdraw proccese  */
.continuebtn
{
    display:none;
   
}

form{
    margin-bottom: 2rem;
}
.btncash
{
    display: flex;
}

.convertminimu
{
    color: red;
    font-size: var(---forth-font-1-5rem);
    margin-left: 1rem;
    margin-right: 0.5rem;
    display: none;
    margin-bottom: -0.5rem;
    margin-top: -1rem;

    
}
.convertminimu-rap{
    display: flex;
    flex-direction: row-reverse;
}

/* loading */

.loading
{
    width: 10rem;
    height: 1rem;
    border: 5px dotted brown;
    background-color: aqua;
    margin-bottom: 4rem;
    animation: move 0.4s infinite alternate;
    position: relative;

}

@keyframes move{

    from{
        left: 10px;     
    }
       
    
   to{left:0 ;}
}

.loading-rap
{
    display: flex;
    flex-direction: column;
align-items: center;
    gap: 2rem;
    position: fixed;
    top: 50%;
    left: 50%;
    background-color: #13293b;
    transform: translate(-50%,-50%);
    width: 30rem;
  
    /* box-shadow: 0rem 0rem 8rem 8rem grey; */
    padding: 2rem ;
 
}
.loading-rap p{
    color: var(--Forth-color-white-white);
font-size: 1.3rem;
}

.loading-rage
{
  display: none; 
 position: fixed;
 width: 100%;
 height: 100%;
 top: 0;
 backdrop-filter: blur(10px);
}

.proccessing-image
{
    width: 10rem;

}
.successfull
{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.successful-rap
{
    display: none;
}

.proccessing-rap{
    display: none;
}

.proccessing
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.proccessing-withdraw
{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    backdrop-filter: blur(5px);
    top: 0;
    left: 0;
}

.proccessing-withdraw-rap
{
    position: fixed;
    top: 40%;
    left: 45%;
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;

}

/* loading end */


.otp-input
{
    display: flex;
    flex-direction: column;
align-items: center;


}

.invalid-otp{
    font-weight: 600;
    color: red;
 
    display: none;
    margin-bottom: -1.8rem;
}


.otp-input input{
    width: 12rem;
    height: 3rem;
    border: 0;
    border-radius: 0;
 font-style: var(--third-font-2rem);
color: #2b8a3e;
padding-left: 2rem;
}
.otp-deable{
    display: none;
}
.input-btn
{
    background-color: aqua;
    display: flex;
    font-size:var(--third-font-2rem);
    border: 0;
    padding: 0.5rem;
    border-radius: 2rem;
    margin-top: -1rem;
}

.input-btn:hover
{
    background-color: aqua;
    color: black;
    transform:none;
}

.input-btn:active{
transform: scale(1.03,1.03);
}
.otp-rap
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.otp-rap span{
    font-size: var(---forth-font-1-5rem);
}

.resent-code
{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    
}

.resent-codeloadin{
    display: none;
    cursor: pointer;

}

.otp-range
{
    display: none;
}

/* image-signs */


.MTN-signs,.AIRTEL-signs,.GLO-signs
{
    display: none;
    margin-bottom: -4rem;
    background-color:var(--Forth-color-white-white);
  
width: 9rem;
height: 0.5rem;
border-bottom-left-radius: 2rem;
border-bottom-right-radius: 2rem;

}


.empty-network
{
    color: red;
    display: flex;
    /* justify-content: center; */
    font-size:1.3rem ;
    margin-left: 1rem;
}
.theempty-network{
    display: none;
  margin-bottom: -1rem; 
margin-top: 0.1rem;
}
/* image-signs end */

.test
{
    width: 5rem;
    height: 2rem;
    background-color: #2b8a3e;
    /* display: none; */
    margin-left: 10rem;
}

.withdraw-successfull
{
    background-color:black ;
    border-radius: 4rem;
    font-size: var(---forth-font-1-5rem);
    padding: 1rem;
}

.succefful-withdraw-rap
{
    /* display: none; */
    z-index: 1;
}

.recomand-amount{
    display: flex;
    gap: 2rem;
    margin-left: 0.5rem;
margin-top: 0.5rem;
margin-bottom: 0.5rem;
}
.recomand-amount span{
    font-size: var(---forth-font-1-5rem);
    background-color: var(--sixth-color-almost-black);
    padding: 1rem;
    border-radius: 1rem;
    cursor: pointer;
    

}

.recomand-amount span:hover{
    background-color: #203444;
}



.guide{
   background-color: var(--sixth-color-almost-black);
   padding: 1rem;
   border-radius: 2rem;
  margin-top: 5rem;
  
}
.guide-head{
    font-size: var(--third-font-2rem);
    font-weight: 600;
    color: var(--Forth-color-white-white);
   
}
.guide,ol{
    color: var(--Forth-color-white-white);
    font-size: var(---forth-font-1-5rem);
    margin-left: 2rem;
    margin-top: 1rem;
}

.guide,p{
    color: lightgray;
    font-size: 1.3rem;
   margin-bottom: 1rem;
}

.secure-rap{
   display: flex;
   gap: 0.5rem;
   align-items: center;
}
.secure-rap,span{
    font-size: var(---forth-font-1-5rem);
    color: lightgray;
}


.secure-direction{
    display: flex;
    justify-content: center;
}


.thepin-text{
    font-size: var(--third-font-2rem);
    font-weight: 600;
   
   
    
}


.pin-security{

    background-color: var(--first-color-darkblue);
    width: 20rem;



}

.pin-securty-anderror{
    display: flex;
flex-direction: column;
justify-self: center;
margin-bottom: 3rem;
margin-top: 2.5rem;

}

.pin-securty-anderror span{
    display: flex;
    justify-content: center;
    color: red;
}


.pin-security-rap{
    background-color: var(--sixth-color-almost-black);
    width: 40%;
    height: auto;
    padding: 1rem 1rem 6rem;
   
    position: fixed;
  /* top: 10%; */
  margin-top: 10rem;
    left: 50%;
    border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transform: translate(-50%);

}

.pin-btn,.set-pinbtn{
    border: none;
    background-color:var(--second-color-green);
color: var(--Forth-color-white-white);
padding: 1rem 0.5rem;
border-radius: 1rem;
display: flex;
justify-self: center;
width: 30rem;
justify-content: center;

}

.pin-btn:hover{
    transform: scale(1.01,1.01);
}


.pin-security-raging,.set-withdrwal-pin-rangin{
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
   position: fixed;
    backdrop-filter: blur(1px);
    display: none;
}

.close-pin-image{
    width: 3rem;
    
}

.delete-pin-image{
    width: 1.5rem;
}


.set-pin{
    background-color:var(--second-color-green);
}

.set-withdrawal-pin{
    background-color: var(--sixth-color-almost-black);
    width: 40rem;
  padding: 1rem ;
   position: fixed;
   top: 10%;
   left: 50%;
   transform: translate(-50%);
   border-radius: 2rem;
}

.set-pinbtn{
    margin-bottom: 2rem;
}

.set-pin{
    background-color: var(--first-color-darkblue);
}

.set-pininput-rap{
    width: 20rem;
    justify-self: center;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.pin-error{
    color: red;
}

.head-pin-rap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pin-b-codebtn{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    margin-bottom: 2rem;
}

.pin-b-codebtn button{
    background-color: var(--first-color-darkblue);
    color: var(--Forth-color-white-white);
   border: 1px solid var(--sixth-color-almost-black);
   padding: 2rem 0.5rem;

}

.pin-b-codebtn button:active{
    background-color: #363636;
 border: 1px solid #363636;
}

.fogorting-pin-link{
    font-size: var(---forth-font-1-5rem);
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    color: blueviolet;
}

.pinzero{
    display: grid;
    grid-column: 2/3;
}

.minimum-cansh,.minimum-den,.account-number-error,.name-error{
    color: red;
}



/* {
    color: red;

} */
/* cash withdrew proccesse  end*/


















/* -----Responive------- */


/* Tablet  width 1000px */
@media(max-width: 62.5rem){
/* 1000px / 16px = 62.5rem */
/* 62.5rem x 16px = 100px */
    html
    {
font-size: 56%;
/* 9px / 16px = 50% */
    }
}

/* phones width 800px-1000px */

@media(max-width: 50rem ){
/* 800px / 16px = 50rem */
/* 50rem x 16 = 800px */
    html 
    {
/* font-size: 50% ; */
/* 8px / 16 =  50% */
    }

.form-rap
{
    border: none;
   
}


 
.CASH
{
   align-content: center; 
}

.withdra-direction
{
    display: flex;
  justify-content: center;
  
}

 
   .densub
{
    position: fixed;
  top: 50%;
    left:50%;
   transform: translate(-50%,-50%);
    /* width: 90%;
    height: 80%; */
    

} 


.densub-rap{
  
   
    width: 100%;
}

.inputing-res
{
width: 10rem;
}


.pin-security-rap{
    background-color: var(--sixth-color-almost-black);
    width: 100%;
    height: 50.5rem;
    padding: 1rem 1rem 6rem;
   
    position: fixed;
    bottom: 0%;
    /* left: 50%; */
    border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  transform: translate(-50%,);


}


} 



/* ---width 600-800
@media(max-width: 37.5rem){
600px / 16px = 37.5rem
37.5rem x 16px = 600px
    html
    {
font-size: 43.75%;
7px / 16px = 43.75%
    }
} */


/* ---width 600-800 */
@media(max-width: 25rem){
/* 400px / 16px = 25rem */
/* 37.5rem x 16px = 600px */
    html
    {
font-size: 43.75%;
/* 7px / 16px = 43.75% */
    }


    .logos-direction
    {
        display: none;
    }
    
/* .pin-security-rap{
    background-color: var(--sixth-color-almost-black);
    width: 100%;
    height: 40rem;
    padding: 1rem 1rem 6rem;
  
    position: fixed;
    bottom: 0%;
    left: 0%;
    border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;


} */
 
}


/* ---width 360-600 */
@media(max-width: 22.5rem){
/* 360px / 16px = 22.5rem */
/* 22.5rem x 16px = 360px */
    html
    {
font-size: 31.5%;
/* 6px / 16px = 31.5% */
    }
    .logos-direction
    {
        display: none;
        position: absolute;
    }
    
  
}
/* --------Responsive end----- */